
.vo {
    font-size: 16px;
}


.pai { 
    width: 500px;
    height: 500px;
    background: blue;
    color: #ffffff;
    font-size: 2em;
    
}

.filho {
    width: 50vw;
    height: 50vh;
    background: red;
    color: #ffffff;
    font-size: 2rem;
}


/* UNIDADES DE MEDIDA  

    ABSOLUTAS

    -px (pixels) quase sempre pixel
    
    
    -in (inches/polegadas)
    -cm/mm (centimetros/milimetros)

    RELATIVAS vao se adaptando com o tamanho da tela

    %  - CALCULA O TAMANHO RELATIVO AO ELEMENTO PAI
    vw (view width) 1 vw é igual a 1% da largura da janela do navegador
    vh (view height) 1 vh é igual a 1% da altura da janela do navegador
    em é uma unidade relativa ao elmento pai
    rem é uma unidade relativa ao elemento raiz, mais acima, html ou body

*/
