

    
    
    h1 {
        color: red;
        font-size: 64px;
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        font-style: italic;
        text-shadow: 10px 5px 2px #ff0000;  /*sombra horizontal, sombra vertical, esfumaçado e cor da sombra*/
    }

    p { 
        color: blue;
        font-size: 30px;
        font-weight: bolder;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        line-height: 50px;
        letter-spacing: 10px;
        word-spacing: 40px;
        text-align: justify;
        text-transform: uppercase; /*esse text transform padroniza o texto ex letras todas maiusculas, todas minusculas, só a 1 maiuscula */
        text-decoration: underline;

    }