.box {
    width: 50px;
    height: 50px;
    background: #ff1493;
    margin: 20px;    
    padding: 50px;
    /*margin - espaçamento externo
    padding- crescer de dentro pra fora*/
}

.box-2 {
    width: 50px;
    height: 50px;
    background: #9932cc;
    margin: 10px 50px 30px 5px
    

    /*atalhos- margin e padding aplicados nas 4 direçoes- right/left/top/bottom
    atalho do relógio: ordem q vai definar as margens: 12h top 15h right 18h bottom 21h left
    atalho direita esquerda mesmo valor: usar somente 3 valores - primeiro cima/segundo direita esquerda/terceiro baixo
    atalho com 2 valores: primeiro em cima e embaixo /segundo dos dois lados */
}