/* pseudo classes

-active - quando o elemento está ativo, ou seja, sendo pressionado
-visited - seleciona o link que foi visitado
-hover - quando o mouse passa em cima do elemento
-checked - usado em radio/checkbox/select
-disabled - elemento desabilitado/button/input
-enabled - elemento está habilitado
-focus - é aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuário seleciona o elemento
-read olny - seleciona o input ou textarea que são apenas leitura
-empty - elemento que não tem filho

-first child - primeiro filho: primeira li de ul/primeiro span de uma div
-first of type - primeiro elemento do seu tipo entre os filhos do seu elemento pai
-last child - ultimo filho
-not () - estiliza os elementos, exceto dentro dos ()
-nth child() - seleciona o elemento baseado na sua posição ex: nth-child(3)
- nth last child - seleciona o elemento baseado na sua posição, contando de trás pra frente
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:active {
    color: red;
}
link:visited {
    color:blueviolet;
}
p:hover {
    color: aqua;
}

input:checked {
    width: 200px;
    height: 200px;
}

input:focus {
    border:1px solid #ff0;
    outline: none;
}
input:read-only {
    border:5px solid blue;
}

.container {
    height: 100px;
    width: 100px;
    background: red;
}
.container:empty {
    background: blue;
}

li:first-child {
    color: red;
}

span:first-of-type {
    color:#ff0;
}

li:last-child {
    color: green;
}

.classe :not(p) {
    color: blueviolet;
}

li:nth-child(4) {
    color:aquamarine;
}